<div class="section-body">
  <div class="breadcrumbs" >
    <%= render_breadcrumbs separator: ' > ' %>
  </div>

  <div class="h1-var clearfix">
    <div class="h1-title left">Notices</div>
    <div class="h1-sub right">
      <% if user_signed_in? && current_user.admin? %>
        <%= link_to 'New Notice', new_notice_path %>
      <% end %>
    </div>
  </div>

  <div class="classifieds-container">
    <div class="clearfix">
      <div class="page right"><%= page_entries_info(@notices) %></div>
    </div>
    <% @notices.each do |notice| %>
      <%= link_to notice do %>
        <div class="border clearfix">
          <p class="cl-table-title left"><%= notice.title %></p>
          <p class="cl-table-date left"><%= notice.created_at.strftime("%Y/%m/%d") %></p>
        </div>
      <% end %>
    <% end %>
    <div class="clearfix">
      <div class="page right"><%= paginate(@notices) %></div>
    </div>
  </div>

  <br>


</div>