<div class="section-body">

  <div class="h1-var clearfix">
    <div class="h1-title left">Edit profile</div>
    <div class="h1-sub right"><%= link_to "Back", :back %></div>
  </div>

  <div class="form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <table rules="rows" bordercolor="#c0c6c9" border="1">
        <tr>
          <th style="width: 30%">Nmae</th>
          <td style="width: 70%"><%= f.text_field :name, class: "text-field" %></td>
        </tr>
        <tr>
          <th>Email</th>
          <td><%= f.email_field :email, class: "text-field" %></td>
        </tr>
        <tr>
          <th>Password</th>
          <td>
            <%= f.password_field :password, placeholder: "6 characters minimum", autocomplete: "off", class: "text-field" %>
            <small>(leave blank if you don't want to change it)</small>
          </td>
        </tr>
        <tr>
          <th>Password Confirmation</th>
          <td><%= f.password_field :password_confirmation, placeholder: "Confirm Password", autocomplete: "off", class: "text-field" %></td>
        </tr>
        <tr>
          <th>Current Password</th>
          <td>
            <%= f.password_field :current_password, placeholder: "Current Password", autocomplete: "off", class: "text-field" %>
            <small>(we need your current password to confirm your changes)</small>
          </td>
        </tr>
      </table>
      <div class="actions clearfix">
        <%= f.submit "Update", class: "submit right" %>
      </div>
    <% end %>
    <div class="clearfix">
      <%= button_to "Cancel account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "submit right" %>
    </div>
  </div>
</div>