<div class="section-body">

  <div class="h1-var">
    <div class="h1-title">Register</div>
  </div>

  <div class="form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <table rules="rows" bordercolor="#c0c6c9" border="1">
        <tr>
          <th style="width: 30%">Nmae</th>
          <td style="width: 70%"><%= f.text_field :name, class: "text-field" %></td>
        </tr>
        <tr>
          <th>Email</th>
          <td><%= f.email_field :email, class: "text-field" %></td>
        </tr>
        <tr>
          <th>Password</th>
          <td><%= f.password_field :password, placeholder: "6 characters minimum", autocomplete: "off", class: "text-field" %></td>
        </tr>
        <tr>
          <th>Password Confirmation</th>
          <td><%= f.password_field :password_confirmation, placeholder: "Confirm Password", autocomplete: "off", class: "text-field" %></td>
        </tr>
      </table>
      <div class="actions clearfix">
        <%= f.submit "Sign up", class: "submit right" %>
      </div>
    <% end %>
  </div>
</div>