<div class="form">
  <%= form_with(model: comment, url: { action: 'confirm' }, local: true) do |form| %>
    <% if comment.errors.any? %>
      <div id="error_explanation">
        <ul>
        <% comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <table rules="rows" bordercolor="#c0c6c9" border="1">
      <tr>
        <th style="width: 30%">Nickname</th>
        <td style="width: 70%"><%= form.text_field :nickname, id: :comment_nickname, class: "text-field" %></td>
      </tr>
      <tr>
        <th>Comment</th>
        <td><%= form.text_area :message, id: :comment_message, class: "text-area-content" %></td>
      </tr>
    </table>
    <div class="actions clearfix">
      <%= form.submit 'confirm', class: "submit right" %>
    </div>
  <% end %>
</div>