<%= form_with(model: information, url: {action: 'confirm'},  local: true) do |form| %>
  <% if information.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% information.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :information_title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :information_content %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.select :category, Information.categories.keys.to_a, {} %>
  </div>

  <div class="actions">
    <%= form.submit 'confirm' %>
  </div>
<% end %>
