<div class="section-body">

  <%= form_with( model: @information, local: true )do |f| %>

    <div class="field">
      <%= f.label "category" %>
      <%= @information.category %>
      <%= f.hidden_field :category %>
    </div>

    <div class="field">
      <%= f.label "title" %>
      <%= @information.title %>
      <%= f.hidden_field :title %>
    </div>

    <div class="field">
      <%= f.label "content" %>
      <%= simple_format(@information.content) %>
      <%= f.hidden_field :content %>
    </div>

    <div class="actions">
      <%= f.submit 'Back!', name: 'back' %>
    </div>
    <div class="actions">
      <%= f.submit 'create!' %>
    </div>
    
  <% end %>

</div>