<div class="section-body">
  <div class="breadcrumbs" >
    <%= render_breadcrumbs separator: ' > ' %>
  </div>

	<div class="h2-var clearfix">
	  <div class="h2-title left"><%= @information.title %></div>
	  <div class="h1-sub right">	
	  	<% if user_signed_in? && current_user.admin? %>
	  		<%= link_to 'Edit', edit_information_path(@information) %> |
	  		<%= link_to 'Delete', @information, method: :delete, data: { confirm: 'Are you sure?' } %> |
			<% end %>
			<%= link_to 'Back', 'javascript:history.back()' %>
		</div>
	</div>

	<div class="show-container">
		<div class="clearfix">
			<div class="left">
		  	category:
		  	<strong><%= link_to @information.category, information_categories_path(category: @information.category) %></strong>
			</div>
			<div class="h1-sub right">
		  	<%= @information.created_at.strftime("%Y/%m/%d") %>
			</div>
		</div>
	  <div class="show-text">
	  	<%= simple_format(@information.content) %>
	  </div>
	</div>
</div>