<div class="section-body">

  <div class="h1-var clearfix">
    <div class="h1-title left">Change password</div>
    <div class="h1-sub right"><%= render "devise/shared/links" %></div>
  </div>

<div class="form">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field">
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em><br />
      <% end %>
      <%= f.password_field :password, :placeholder => "New Password", autocomplete: "off", class: "text-field" %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, :placeholder => "Confirm Password", autocomplete: "off", class: "text-field" %>
    </div>

    <div class="actions clearfix">
      <%= f.submit "Change password", class: "submit right" %>
    </div>
  <% end %>

</div>