<div class="section-body">
  <div class="breadcrumbs" >
    <%= render_breadcrumbs separator: ' > ' %>
  </div>
  <div class="form">
    <%= form_with( model: [@contact.classified.city, @contact.classified, @contact], local: true ) do |f| %>
      <table rules="rows" bordercolor="#c0c6c9" border="1">
        <tr class="text-field">
          <th style="width: 30%">Name</th>
          <td style="width: 70%"><p><%= @contact.name %><%= f.hidden_field :name %></p></td>
        </tr>
        <tr>
          <th>Email</th>
          <td><p><%= @contact.email %><%= f.hidden_field :email %></p></td>
        </tr>
        <tr>
          <th>Comment</th>
          <td><%= simple_format(@contact.message) %><%= f.hidden_field :message %></td>
        </tr>
      </table>
      <div class="actions clearfix">
        <%= f.submit 'Back', name: 'back', class: "submit right" %>
        <%= f.submit 'Send', class: "submit right" %>
      </div>
    <% end %>
  </div>
</div>