<div class="section-body">
  <div class="breadcrumbs" >
    <%= render_breadcrumbs separator: ' > ' %>
  </div>

  <div class="h1-var clearfix">
    <div class="h1-title left">Direct Message</div>
    <div class="h1-sub right"><%= link_to 'Back', 'javascript:history.back()' %></div>
  </div>

  <div class="contact-ref">
    <div class="contact-title">
      <%= @classified.title %>
    </div>
    <div class="clearfix">
      <% if @classified.photos.present? %>
        <% @classified.photos.each do |photo| %>
          <div class="left"><%= attachment_image_tag photo, :file, :fill, 100, 100 %></div>
        <% end %>
      <% else %>
        <div><%= image_tag 'l_e_others_501.png', :size => "100" %></div>
      <% end %>
    </div>
    <div class="contact-content">
      <%= simple_format(@classified.content) %>
    </div>
  </div>
  <div class="form">
    <%= form_with(model: @contact, url: { action: 'confirm' }, local: true) do |form| %>
      <% if @contact.errors.any? %>
        <div id="error_explanation">
          <ul>
          <% @contact.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <table rules="rows" bordercolor="#c0c6c9" border="1">
        <tr>
          <th style="width: 30%">Nmae</th>
          <td style="width: 70%"><%= form.text_field :name, id: :contact_name, class: "text-field" %></td>
        </tr>
        <tr>
          <th>Email</th>
          <td><%= form.email_field :email, id: :contact_email, class: "text-field" %></td>
        </tr>
        <tr>
          <th>Message</th>
          <td><%= form.text_area :message, id: :contact_message, class: "text-area-content" %></td>
        </tr>
      </table>
      <div class="actions clearfix">
        <%= form.submit 'confirm', class: "submit right" %>
      </div>
    <% end %>
  </div>
</div>