<section class="section-body">
  <div class="breadcrumbs" >
    <%= render_breadcrumbs separator: ' > ' %>
  </div>
  
  <div class="h1-var clearfix">
    <div class="h1-title left"><%= @city.name %></div>
    <div class="h1-sub right clearfix">
      <%= link_to 'View all cities', cities_path %>
    </div>
  </div>
  
  <div class="city-container clearfix">
    <div class="city-image-box left">
      <% if @city.image.present? %>
        <%= attachment_image_tag @city, :image, class: "city-image" %>
      <% else %>
        <%= image_tag 'l_e_others_501.png', class: "city-image" %>
      <% end %>
    </div>
    <div class="city-text-box left">
      <p>
        <%= simple_format(@city.introduction) %>
      </p>
      <div class="h1-sub right">
        <% if user_signed_in? && current_user.admin? %>
          <%= link_to 'Edit', edit_city_path(@city) %> |
          <%= link_to 'Delete', @city, method: :delete, data: { confirm: 'Are you sure?' } %> |
        <% end %>
        <% Classified.types.each do |type, number| %>
          <%= link_to city_classifieds_path(@city, type: type), class: "classified-type left"  do %>
            <p><i class="fa fa-hand-o-right" aria-hidden="true"></i> Find <%= type %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>